# Copyright (c) 2019 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

comment "USP module not available."
	depends on !ZEPHYR_USP_MODULE

# This ensures that symbols are available in Kconfig for dependency checking
# and referencing, while keeping the settings themselves unavailable when the
# modules are not present in the workspace
if 0
osource "modules/*/Kconfig"
endif
