/*
 * Edge-detector for the external trigger signal
 * https://files.seeedstudio.com/wiki/XIAO_nRF54L15/Getting_Start/nr_definition.png
 */

/ {
  xiaosync_capture: xiaosync-capture {
    compatible = "zephyr,xiaosync-capture";
    capture-gpios = <&gpio1 4 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
    capture-edge = <0>;
  };

  aliases {
    sync0 = &xiaosync_capture;
  };
};
