// /*
//  * Copyright (c) 2024 Semtech Corporation
//  *
//  * SPDX-License-Identifier: Apache-2.0
//  */

/ {
	aliases {
		smtc-watchdog = &wdt31;
		smtc-user-button = &usr_btn;
	};
	chosen {
		zephyr,display = &ssd1306_128x64;
	};
};

&xiao_serial {
	status = "disabled";
};

&i2c22 {
	status = "okay";
};

&i2c30 {
	status = "disabled";
};

&adc {
	status = "disabled";
};

&wdt31 {
	status = "disabled";
};

&xiao_i2c {
	status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;
	zephyr,concat-buf-size = <4096>;

    ssd1306_128x64: ssd1306@3c {
		compatible = "solomon,ssd1306fb";
		reg = <0x3c>;
		width = <128>;
		height = <64>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		segment-remap;
		com-invdir;
		
		prechargep = <0x22>;
		inversion-on;
	};
};

/* --- AGGIUNTA PER LA SINCRONIZZAZIONE --- */
/ {
  xiaosync_capture: xiaosync-capture {
    compatible = "zephyr,xiaosync-capture";
    /* gpio1 4 corrisponde fisicamente al PIN D0 sulla XIAO! */
    capture-gpios = <&gpio1 4 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
    capture-edge = <0>;
  };

  aliases {
    sync0 = &xiaosync_capture;
  };
};
