// /*
//  * Copyright (c) 2024 Semtech Corporation
//  *
//  * SPDX-License-Identifier: Apache-2.0
//  */


/ {
	aliases {
		smtc-watchdog = &wdt0;
	};
};

&uart0
{
	status = "disabled";
};

&wifi {
	status = "disabled";
};

&esp32_bt_hci {
	status = "disabled";
};

&i2c0 {
	status = "disabled";
};

&twai {
	status = "disabled";
};

&wdt0 {
	status = "okay";
};
